<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body id="page-top">
	<div class="content-head">
		<br />
		<h3>
			<i class="icon-cogs"></i>&nbsp;&nbsp;Script Format
		</h3>
	</div>
	<div class="content-body">
		<form method="POST" id="formEnvioManual">
			<div class="span5">
				<section class="row-fluid">
					<section class="module">
						<div class="module-head">
							<b>Dados do script</b>
						</div>
						<div class="module-body">
							<label class="control-label table"><b>Tabela</b></label>
							<div class="controls">
								<input type="text" id="table" maxlength="30" class="input-block-level table" name="table" onchange="refresh()">
							</div>
							<label class="control-label column"><b>Coluna</b></label>
							<div class="controls">
								<input type="text" id="column" maxlength="30" class="input-block-level column" name="column" onchange="refresh()">
							</div>
							<label class="control-label constraintType"><b>Tipo</b></label>
							<div class="controls">
								<select id="constraintType" class="input-block-level constraintType" name="constraintType" onchange="refresh()">
									<option value="C">Check</option>
									<option value="F">Foreign key</option>
									<option value="PK">Primary key</option>
									<option value="UQ">Unique key</option>
								</select>
							</div>
							<label class="control-label value" id="labelValue"><b>Valor</b></label>
							<div class="controls">
								<input type="text" id="value" maxlength="30" class="input-block-level value" name="value" onchange="refresh()">
							</div>
							<label class="control-label visivel" id="labelValue2" ><b>Coluna referenciada</b></label>
							<div class="controls visivel">
								<input type="text" id="value2" class="input-block-level" name="value2" onchange="refresh()">
							</div>
							<label class="control-label visivel" id="labelValue3"><b>Tabela referenciada</b></label>
							<div class="controls visivel">
								<input type="text" id="value3" class="input-block-level" name="value3" onchange="refresh()">
							</div>
							<label class="control-label visivel" id="labelValue4"><b>Cascade</b></label>
							<div class="controls visivel">
								<input type="text" id="value4" class="input-block-level" name="value4" onchange="refresh()">
							</div>
							<label class="control-label script"><b>Script</b></label>
							<div class="controls">
								<textarea rows="5" id="script"  class="input-block-level script" name="script" onchange="refresh()"></textarea>
							</div>
							<label class="control-label"><b>Comentário</b></label>
							<div class="controls">
								<input type="number" id="number" class="span2" onchange="refresh()">
								<input type="text" id="comment" class="span10" name="comment" disabled="disabled" onchange="refresh()">
							</div>
						</div>
					</section>
				</section>
			</div>
			<div class="span5">
				<section class="row-fluid">
					<section class="module">
						<div class="module-head">
							<b>Tipo do script</b>
						</div>
						<div class="module-body">
							<label class="radio inline"> 
								<input type="radio" name="tipo"	value="insert" onclick="changeType('insert')" id="insert">Insert into
							</label>
							<label class="radio inline"> 
								<input type="radio"	name="tipo"	value="createTable" onclick="changeType('createTable')" id="createTable">Create table
							</label>
							<label class="radio inline"> 
								<input type="radio" name="tipo" value="addColumn" onclick="changeType('addColumn')" id="addColumn">Add column
							</label>
							<label class="radio inline"> 
								<input type="radio" name="tipo" value="addForeignKey" onclick="changeType('addForeignKey')" id="addForeignKey">Add foreign key
							</label>
							<label class="radio inline"> 
								<input type="radio" name="tipo" value="geraSequence" onclick="changeType('geraSequence')" id="addForeignKey">Gera themis_sequence
							</label>
							<label class="radio inline"> 
								<input type="radio" name="tipo" value="dropTable" onclick="changeType('dropTable')" id="dropTable">Drop table
							</label>
							<label class="radio inline"> 
								<input type="radio" name="tipo" value="dropColumn" onclick="changeType('dropColumn')" id="dropColumn">Drop column
							</label>
							<label class="radio inline"> 
								<input type="radio" name="tipo" value="dropConstraint" onclick="changeType('dropConstraint')" id="dropConstraint">Drop constraint
							</label>
							<label class="radio inline"> 
								<input type="radio" name="tipo" value="addPrimaryKey" onclick="changeType('addPrimaryKey')" id="addPrimaryKey">Add primary key
							</label>
							<label class="radio inline"> 
								<input type="radio" name="tipo" value="changeVersion" onclick="changeType('changeVersion')" id="changeVersion">Change version
							</label>
						</div>
					</section>
					
				</section>
				<section class="row-fluid">
					<section class="module">
						<div class="module-head">
							<b>Exemplos de script</b>
						</div>
						<div class="module-body">
							<b id="exemploScript" style="white-space: pre-line;"></b>
						</div>
					</section>
					
				</section>					
			</div>
			
		</form>
		<div class="span8">
			<section class="row-fluid">
				<section class="module">
					<div class="module-head">
						<b>Firebird</b>
					</div>
					<div class="module-body">
						<b id="resultadoFirebird" style="white-space: pre-line;"></b>
					</div>
				</section>
				<section class="module">	
					<div class="module-head">
						<b>SQL Server</b>
					</div>
					<div class="module-body">
						<b id="resultadoSqlServer" style="white-space: pre-line;"></b>
					</div>
				</section>
				<section class="module">				
					<div class="module-head">
						<b>Oracle</b>
					</div>
					<div class="module-body">
						<b id="resultadoOracle" style="white-space: pre-line;"></b>
					</div>
				</section>
			</section>
		</div>
	</div>
</body>

</html>
