<!DOCTYPE html>
<html lang="pt-br" ng-app="scriptFormatAngular">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Script Format</title>
	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
	<!-- Pignose Calender -->
	<link href="./plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
	<!-- Chartist -->

	<link type="text/css" th:href="@{/layout/plugins/chartist/css/chartist.min.css}" rel="stylesheet">
	<link type="text/css" th:href="@{/layout/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css}" rel="stylesheet">
	<!-- Custom Stylesheet -->
	<link type="text/css" th:href="@{/layout/css/style.css}" rel="stylesheet">
	<script th:src="@{/js/angular.min.js}"></script>
	<script th:src="@{/js/angular-locale_pt-br.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/script.js}"></script>
</head>

<body ng-controller="scriptController">

<!--*******************
    Preloader start
********************-->
<div id="preloader">
	<div class="loader">
		<svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
		</svg>
	</div>
</div>
<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

	<!--**********************************
        Header start
    ***********************************-->
	<div class="header" style="margin-left:0; width:100%">
		<div class="header-content clearfix" style="display:flex; justify-content:center; padding:25px">
			<img src="./layout/img/logo.png" class="img-logo">
		</div>
	</div>
	<!--**********************************
        Content body start
    ***********************************-->
	<div class="content-body" style="margin-left:0;">
		<div class="container-fluid mt-3">
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-3">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Dados do script</h4>
									<div class="basic-form">
										<form _lpchecked="1">
											<div class="form-group">
												<label>Tipo do script</label>
												<select class="form-control" id="typeScriptList" onchange="exibeCampos()" ng-model="type">
													<option value="addColumn">ADD COLUMN</option>
													<option value="addForeignKey">ADD FOREING KEY</option>
													<option value="addPrimaryKey">ADD PRIMARY KEY</option>
													<option value="createTable">CREATE TABLE</option>
													<option value="insertInto">INSERT INTO</option>
													<option value="dropColumn">DROP COLUMN</option>
													<option value="dropConstraint">DROP CONSTRAINT</option>
													<option value="dropTable">DROP TABLE</option>
 												</select>
											</div>

											<div class="form-group"  id="tableScript">
												<label>Tabela</label>
												<input type="text" class="form-control input-default" ng-model="table" placeholder="">
											</div>
											<div class="form-group" id="columnScript">
												<label>Coluna</label>
												<input type="text" class="form-control input-default" ng-model="column" placeholder="">
											</div>
											<div class="form-group" id="typeScript">
												<label>Tipo</label>
												<select class="form-control">
													<option value="addColumn">CHECK</option>
													<option value="addForeignKey">FOREING KEY</option>
													<option value="addPrimaryKey">PRIMARY KEY</option>
													<option value="createTable">UNIQUE KEY</option>
												</select>
											</div>
											<div class="form-group" id="valueScript">
												<label id="txtValueScript">Valor</label>
												<input type="text" class="form-control input-default"  ng-model="value" placeholder="">
											</div>
<!-- 											<div class="form-group" id="commentScript"> -->
<!-- 												<label>Comentário</label> -->
<!-- 												<input type="number" class="form-control input-default" ng-model="number" placeholder=""> -->
<!-- 											</div> -->
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-9">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Script</h4>
									<!-- Nav tabs -->
									<div class="default-tab">
										<ul class="nav nav-tabs mb-3" role="tablist">
											<li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#query">Meu script</a>
											</li>
											<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#firebird" ng-click="getQuery()" >Firebird</a>
											</li>
											<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#sqlServer" ng-click="getQuery()">MSSQL</a>
											</li>
											<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#oracle" ng-click="getQuery()">Oracle</a>
											</li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane fade active show" id="query" role="tabpanel">
												<div class="p-t-15">
													<form>
														<div class="form-group">
															<textarea class="form-control h-150px" rows="20" id="script" ng-model="query"></textarea>
														</div>
													</form>
												</div>
											</div>
											<div class="tab-pane fade" id="firebird">
												<div class="p-t-15">
													<textarea class="form-control h-150px" rows="20" disabled="disabled" ng-bind="dados.firebird"></textarea>
												</div>
											</div>
											<div class="tab-pane fade" id="sqlServer">
												<div class="p-t-15">
													<textarea class="form-control h-150px" rows="20" disabled="disabled" ng-bind="dados.sqlServer"></textarea>
												</div>
											</div>
											<div class="tab-pane fade" id="oracle">
												<div class="p-t-15">
													<textarea class="form-control h-150px" rows="20" disabled="disabled" ng-bind="dados.oracle"></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<script src="plugins/common/common.min.js"></script>
<script src="js/custom.min.js"></script>
<script src="js/settings.js"></script>
<script src="js/gleek.js"></script>
<script src="js/styleSwitcher.js"></script>

<!-- Chartjs -->
<script src="./plugins/chart.js/Chart.bundle.min.js"></script>
<!-- Circle progress -->
<script src="./plugins/circle-progress/circle-progress.min.js"></script>
<!-- Datamap -->
<script src="./plugins/d3v3/index.js"></script>
<script src="./plugins/topojson/topojson.min.js"></script>
<script src="./plugins/datamaps/datamaps.world.min.js"></script>
<!-- Morrisjs -->
<script src="./plugins/raphael/raphael.min.js"></script>
<script src="./plugins/morris/morris.min.js"></script>
<!-- Pignose Calender -->
<script src="./plugins/moment/moment.min.js"></script>
<script src="./plugins/pg-calendar/js/pignose.calendar.min.js"></script>
<!-- ChartistJS -->
<script src="./plugins/chartist/js/chartist.min.js"></script>
<script src="./plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>



<script src="./js/dashboard/dashboard-1.js"></script>

<script type="text/javascript">

function exibeCampos(){
var type = document.getElementById('typeScriptList').value;
	$("#tableScript").show();
	$("#typeScript").hide();
	$("#valueScript").hide();
	$("#txtValueScript").text("Valor");
	$("#script").prop('disabled', false);
	switch(type) {
			case "createTable":
				$("#columnScript").hide();
			break;
			case "addColumn":
				$("#columnScript").show();
			break;
			case "addForeignKey":
				$("#columnScript").hide();
				$("#tableScript").hide();
				$("#txtValueScript").text("Foreign Key");
				$("#valueScript").show();
			break;
			case "dropColumn":
				$("#columnScript").show();
				$("#valueScript").hide();
			break;
			case "dropTable":
				$("#columnScript").hide();
			break;
			case "dropConstraint":
				$("#typeScript").show();
				$("#valueScript").show();
				$("#columnScript").hide();
			break;
			case "addPrimaryKey":
				$("#column").show();
				$("#valueScript").show();
				$("#script").prop('disabled', true);
				$("#txtValueScript").text("Primary Key");
			break;
			case "insertInto":
				$("#column").show();
				$("#valueScript").show();
			break;
		}
}


</script>


</body>

</html>